@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-3 offset-sm-1">
            <a class="btn btn-outline-success" asp-area="Account" asp-controller="Home" asp-action="Edit">Edit Profile</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-outline-danger" asp-area="Account" asp-controller="Home" asp-action="Delete">Delete</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-outline-info" asp-area="Account" asp-controller="Home" asp-action="BookNow">Book</a>
        </div>
    </div>
</div>
